.about {
  font-size: 1.5em;
}
.mailIcon {
  font-size: 3em;
  display: inline-block;
}
.mailIcon:hover {
  color: #555;
  cursor: pointer;
  font-size: 3.1em;
}

form {
  margin: auto;
  text-align: left;
}
input {
  margin-bottom: 0.2em;
  width: 25vw;
}
textarea {
  resize: none;
  height: 25vh;
}
form, textarea {
  width: 50vw;
}
form button {
  margin: auto;
  display: block;
  /*text-align: center;*/
  background: none;
  border: none;
  font-size: 2.5em;
}
form button:hover {
  color: #555;
  cursor: pointer;
  font-size: 2.6em;
}
form p {
  text-align: center;
}

@media (max-width: 600px) {
  .about {
    font-size: 1em;
  }
  form, input, textarea {
    width: 80vw;
  }
}