.about {
  font-size: 1.5em;
  padding: 1em;
}
.mailIcon {
  font-size: 3em;
  display: inline-block;
}
.mailIcon:hover {
  color: #555;
  cursor: pointer;
  font-size: 3.1em;
}

form {
  margin: auto;
  text-align: left;
}
input {
  margin-bottom: 0.2em;
  width: 25vw;
}
textarea {
  resize: none;
  height: 25vh;
}
form, textarea {
  width: 50vw;
}
form button {
  margin: auto;
  margin-top: 0.4em;
  display: block;
  background: none;
  border: none;
  font-size: 2.5em;
}
form button:hover {
  color: #555;
  cursor: pointer;
  font-size: 2.55em;
}
form p {
  text-align: center;
}

@media screen and (max-width: 600px), screen and (max-height: 500px) {
  .about {
    font-size: 1.6em;
  }
  .mailIcon {
    border-radius: 10%;
    background-color: white;
  }
  form, input, textarea {
    width: 80vw;
    font-size: 1em;
  }
  form button {
    font-size: 2.4em;
    /*border-radius: 10%;*/
    /*background-color: white;*/
  }
}