body {
  font-family: 'Inconsolata', monospace, sans-serif;
  background-color: white;
  background: url('../wallpaper/gplay2.png');
}
.centralContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80vh;
  width: 80vw;
  text-align: center;
  transform: translate(-50%, -50%);
  box-shadow: 1.5vmin 1.5vmin rgba(0,0,0,0.7);
}
.namePlate {
  position: relative;
  font-size: 20vmin;
  color: white;
  background-color: black;
  height: 80vh;
  width: 80vw;
  display: table-cell;
  vertical-align: middle;
}
.word {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-transition: text-shadow 2s linear;
  -moz-transition: text-shadow 2s linear;
  -ms-transition: text-shadow 2s linear;
  -o-transition: text-shadow 2s linear;
  transition: text-shadow 2s linear;
}
.word:hover {
  color: #ddd;
  font-size: 21vmin;
}
.glow {
  text-shadow: 0 0 0.3em white;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 0.3vw;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 50em;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

@media screen and (max-width: 600px), screen and (max-height: 500px) {
  .centralContainer{
    height: 100% !important;
    width: 100% !important;
    box-shadow: none !important;
  }
  .namePlate {
    height: 100vh !important;
    width: 100vw !important;    
  } 
  ::-webkit-scrollbar {
    height: 0.2em;
    width: 0em;
  }
}
/* Hide scrollbar for phones */
@media only screen and (max-device-width: 600px), only screen and (max-height: 500px) {
  ::-webkit-scrollbar {
    height: 0;
  }  
}