body {
  font-family: 'Inconsolata', monospace, sans-serif;
  background-color: white;
  background: url('../wallpaper/gplay2.png');
}
.centralContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80vh;
  width: 80vw;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: black;
  box-shadow: 1.5vmin 1.5vmin rgba(0,0,0,0.7);
}
.wordContainer {
  position: relative;
  display: inline-block;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  font-size: 20vmin;
  color: white;
  width: 100%;
}
.word {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.word:hover {
  color: #ddd;
  font-size: 21vmin;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 0.3vw;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 50em;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}
@media (max-width: 600px) {
  ::-webkit-scrollbar {
    height: 0.2em;
    width: 0em;
  }
}
/* Hide scrollbar for phones */
@media only screen and (max-device-width: 600px) {
  ::-webkit-scrollbar {
    height: 0;
  }  
}