.mainContainer {
  background: white;
  border: 0.4em solid black;
  height: 100%;
  display: grid;
  /*grid-template-columns: 1fr 5fr;*/
  grid-template-rows: 1fr 10fr;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

header {
  padding: 0.1em;
  font-size: 4em;
  /*grid-row: 1 / 2;*/
  /*grid-column: 1 / 3*/
}
nav {
  padding: 0 0.5em;
}
.kraxx {
  float: left;
}
.icons {
  float: right;
}
.icons a {
  margin-left: 0.2em;
  color: inherit;
  text-decoration: none;
}

hr {
  width: 80%;
  border-color: #bbb;
  border-radius: 50em;
}

main {
  display: grid;
  /*grid-template-rows: 1fr auto;*/
  grid-template-columns: 1fr 4fr;
}

aside {
  padding: 0.35em;
  height: 60vh;
  overflow-y: auto;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

}
.asideHeader {
  font-size: 1.5em;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
.listItem {
  margin: 0.8em;
  padding: 0.15em 1em;
  height: 5em;
  text-align: left;
  background-color: white;
  cursor: pointer;
  box-shadow: 0.25em 0.25em #444;
}
.listItem h2 {
  position: relative;
  display: inline-block;
  top: 25%;
  transform: perspective(1px) translateY(-50%);
}
.listItem:hover {
  color: white;
  background-color: #333;
}
.selected {
  color: white;
  background-color: black !important;
}
section {
  height: 60vh;
  padding: 0.5em;
  overflow-y: auto;
  font-size: 1.5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-row: 1 / 3;
  grid-column: 2 / 3;
}

.projectLinks a {
  margin: 0 0.2em;
  font-size: 3em;
  color: inherit;
  text-decoration: none;
}


/* width */
::-webkit-scrollbar {
  width: 0.2vw;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 50em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}