@media (max-width: 890px) {
  main {
    grid-template-columns: 1fr 2fr;
  }
  nav {
    font-size: 0.75em;
  }
}

/* Icons start stacking */
@media (max-width: 600px) {
  nav {
    padding: 0;
  }
  .kraxx {
    padding: 0;
    font-size: 0.55em;
  }
  .centralContainer {
    height: 100vh !important;
    width: 100vw !important;
  }
  .mainContainer {
    border: none;
  }
  nav .icons {
    float: right;
    font-size: 0.55em;
  }

  main {
    grid-template-columns: auto;
    grid-template-rows: 4em auto;
  }
  aside {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    white-space: nowrap;
    overflow-x: auto;
    height: 3.6em;
  }
  .asideHeader {
    display: none;
  }
  .listItem {
    display: inline-block;
    min-width: 10em;
    text-align: center;
    overflow-x: hidden;
    margin: 0.1em 0.5em;
    font-size: 0.5em;
    box-shadow: 0.3em 0.3em 0.4em black;
  }
  section {
    padding-top: 0;
    font-size: 1em;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  section .subHeader, section hr {
    display: none;
  }

    /* width */
  ::-webkit-scrollbar {
    height: 0.2em;
    width: 0em;
  }
}

/* Hide scrollbar for phones */
@media only screen and (max-device-width: 600px) {
  ::-webkit-scrollbar {
    height: 0;
  }  
}